.navbar{
    background:#F97300;
}

.description{
    position: absolute;
    top: 25%;
    margin-left: 3em;
    padding: 2em;
}

.description h1{
    color:#F97300 ;
}

.description p{
    color:#666;
    font-size: 1.3rem;
    width: 50%;
    line-height: 1.5;
}

.description button{
    border:0.1em  solid #666;
    color:#666;
}
